# dependencies
node_modules
.pnpm-store

# build outputs
dist
build

# caches
.turbo
.vite

# env
.env

# logs
*.log

# temp debug outputs
structure.txt
clean-structure.txt
packages/**/dist
apps/**/dist
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
