@import "tailwindcss";

@theme {
  --color-primary: rgb(67 135 244 / var(--tw-text-opacity, 1));
  --color-background-light: #f8fafc;
  --color-background-dark: #101722;

  --font-display: "Inter", sans-serif;

  --radius: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;

}

.border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.rounded {
  border-radius: 0.375rem;
}

body {
  font-family: "Inter", sans-serif;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #475569;
}