services:
  redis:
    image: redis:7
    ports:
      - 6379:6379

  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gdrivebridge
    ports:
      - 5432:5432
